thead {
    height: 40px;
    line-height: 20px ;
}

tbody {
    display:block;
    height: 39vh;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

td {
    word-break: break-all !important;
    max-width: 100px;
    vertical-align: middle;
}

.navbar
.navbar-brand {
    height: 50px;
}

.footer {
    background-color: #ECEFF1;
    position: fixed;
    top: 93.5vh;
    width: 100%;
}

.row {
    vertical-align: middle;
    align-items: center;
}

.btn-primary {
    background-color: #76519c !important;
    border-color: #76519c !important;
}