h5 {
    margin-left: calc(50vw-(h5/2));
}

td {
    word-break: break-all !important;
    max-width: 100px;
    vertical-align: middle;
}

.footer {
    background-color: #ECEFF1;
    position: fixed;
    top: 91.5vh;
    width: 100%;
}

.row {
    vertical-align: middle;
    align-items: center;
}

.btn-primary {
    background-color: #76519c !important;
    border-color: #76519c !important;
}

.table-wrap {
    height: 50vh;
    overflow-y: auto;
}